<!-- templatemo 372 titanium -->
<!-- 
Titanium Template 
http://www.templatemo.com/preview/templatemo_372_titanium 
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>세상의 광고를 모아</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{/css/templatemo_style.css}" rel="stylesheet"
	type="text/css" />

<link rel="stylesheet" th:href="@{/css/orman.css}" type="text/css"
	media="screen" />
<link rel="stylesheet" th:href="@{/css/nivo-slider.css}" type="text/css"
	media="screen" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/ddsmoothmenu.css}" />

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ddsmoothmenu.js}">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script language="javascript" type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" th:href="@{/css/slimbox2.css}" type="text/css"
	media="screen" />
<script type="text/JavaScript" th:src="@{/js/slimbox2.js}"></script>
<!--  t e m p l a t e m o  372  t i t a n i u m  -->
</head>
<body>

	<div id="templatemo_wrapper">
		<div id="templatemo_header">
			<div id="site_title">
				<a href="#"></a>
			</div>
			
			<!--  검색 창 -->
			<div id="templatemo_search">
				<form th:action="@{/gallery}" method="get">
					<input type="text"  placeholder="검색어를 입력하세요" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)"
						class="txt_field" /> 
					<input type="submit" name="search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn"/>
					<input type="hidden" id="menu_num" name="num" th:value="${pageMaker.menu_num}" ></input>
				</form>
			</div>
			<!-- /검색 창 -->
			
			
		</div>
		<!-- END of templatemo_header -->
		<div id="templatemo_menu" class="ddsmoothmenu">
			<ul>
				<li><a th:href="@{/gallery(num='1')}">메뉴1</a></li>
				<li><a th:href="@{/gallery(num='2')}">메뉴2</a></li>
				<li><a th:href="@{/gallery(num='3')}">메뉴3</a>
					<ul>
						<li><a href="#">상세 메뉴1</a></li>
						<li><a href="#">상세 메뉴2</a></li>
						<li><a href="#">상세 메뉴3</a></li>
						<li><a href="#">상세 메뉴4</a></li>
					</ul></li>
				<li><a th:href="@{/gallery(num='4')}" class="selected">메뉴4</a>
					<ul>
						<li><a href="#">상세 메뉴1</a></li>
						<li><a href="#">상세 메뉴2</a></li>
						<li><a href="#">상세 메뉴3</a></li>
						<li><a href="#">상세 메뉴4</a></li>
					</ul></li>
				<li><a th:href="@{/gallery(num='5')}">메뉴5</a></li>
				<li><a th:href="@{/gallery(num='6')}">메뉴6</a></li>
			</ul>
			<br style="clear: left" />
		</div>
		<!-- end of templatemo_menu -->

		<div id="templatemo_main">
			<h2 id="menu_text"></h2>
			<div align="right">
				<font size="3"><a href="#">조회순</a></font>&nbsp; &nbsp; &nbsp; &nbsp;
				&nbsp;&nbsp;&nbsp; <font size="3"><a href="#">평점순</a></font>&nbsp;
				&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; <font size="3"><a
					href="#">날짜순</a></font>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; <br></br>
			</div>

			<!-- gallery -->
			<div id="gallery">
				<div class="col one_fourth gallery_box">
					<div class="img_frame img_frame_14 img_nom">
						<span></span>
						<!-- 유튜브 iframe 영역 -->
					</div>
					<h4>광고 제목</h4>
					<p>해쉬태그</p>
					<a href="#" class="more">DETAIL</a>
				</div>
			</div>
			<!--  /.gallery -->

			<div class="clear"></div>
			
			<!-- Paging 영역 -->
			<div class="pagging">
				<ul>
					<li><a href="#">Previous</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
			<!-- /.Paging -->
			
			<div class="clear"></div>

			<div class="clear"></div>
		</div>
		<!-- END of templatemo_main -->
	</div>
	<!-- END of templatemo_wrapper -->
	<div id="templatemo_bottom_wrapper">
		<div id="templatemo_bottom">
			<div class="col one_fourth">
				<h4>광고문의</h4>
				<p>이은호 전화번호</p>
			</div>
			<div class="col one_fourth">
				<h4>Photo Gallery</h4>
				<ul class="footer_gallery">
					<li><a href="images/templatemo_image_06_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_06.jpg" alt="image 6" /></a></li>
					<li><a href="images/templatemo_image_07_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_07.jpg" alt="image 7" /></a></li>
					<li><a href="images/templatemo_image_08_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_08.jpg" alt="image 8" /></a></li>
					<li><a href="images/templatemo_image_09_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_09.jpg" alt="image 9" /></a></li>
					<li><a href="images/templatemo_image_10_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_10.jpg" alt="image 10" /></a></li>
					<li><a href="images/templatemo_image_11_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_11.jpg" alt="image 11" /></a></li>
					<li><a href="images/templatemo_image_12_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_12.jpg" alt="image 12" /></a></li>
					<li><a href="images/templatemo_image_13_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_13.jpg" alt="image 13" /></a></li>
					<li><a href="images/templatemo_image_14_l.jpg"
						rel="lightbox[portfolio]"><img
							src="images/templatemo_image_14.jpg" alt="image 14" /></a></li>
				</ul>
				<div class="clear"></div>
				<a href="gallery.html" class="more">more</a>
			</div>
			<div class="col one_fourth">
				<h4>Footer 2</h4>
				<ul class="no_bullet">
					<li>
						<span class="header"><a href="#">서브 타이틀</a></span>
						서브 내용
					</li>
					
					<li>
						<span class="header"><a href="#">서브 타이틀</a></span>
						서브 내용
					</li>
					
					<li>
						<span class="header"><a href="#">서브 타이틀</a></span>
						서브 내용
					</li>
				</ul>
			</div>
			<div class="col one_fourth no_margin_right">
				<h4>소셜 네트워크</h4>
				<ul class="no_bullet">
					<li>
						<span class="header"><a href="#">인스타그램</a></span>
						서브 내용
					</li>
					
						<li>
						<span class="header"><a href="#">페이스북</a></span>
						서브 내용
					</li>
				</ul>
			</div>

			<div class="clear"></div>
		</div>
		<!-- END of templatemo_bottom -->
	</div>
	<!-- END of templatemo_bottom_wrapper -->
	<div id="templatemo_footer_wrapper">
		<div id="templatemo_footer">
			<p>
				Copyright © 2072 <a href="#">Company Name</a>
			</p>
		</div>
		<!-- END of templatemo_footer -->
	</div>
	<!-- END of templatemo_footer_wrapper -->

	<!-- 광고 리스트 출력 함수  -->
 	<script th:src="@{/js/printAd.js}"></script>
	
	<script th:inline="javascript">
	$(document).ready(function() {
		
		var ad_list = [[${ad_list}]];
		printAd(ad_list);
		
		
		$("#menu_text").text("메뉴" + $("#menu_num").val());
		
	});
	</script>
</body>
</html>