<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semo.mapper.GalleryMapper">

	<select id="getList" resultType="com.semo.domain.Advertisement" parameterType="com.semo.domain.Criteria">
		<![CDATA[
			SELECT *
			FROM tbl_ad 
			WHERE menu_num = #{num}
			AND search_hashTag LIKE CONCAT('%', #{keyword}, '%')
		]]>
	</select>
	
</mapper> 